body {
  font-family: Arial, sans-serif;
  background-color: #f2f5e7;
}

.nav a {
  text-align: center;
  display: block; 
  padding: 8px 12px; 
  text-decoration: none; 
  color: #ad64b7; 
  background-color: rgb(250, 227, 253); 
  border: 2px solid #00d655;
  margin-bottom: -3px;
  position: relative; 
}

.nav a:hover {
  background-color: #ecaaf5; 
}

.header-title {
  background-color: #d7e9fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-bottom: 1px dashed; 
}

.header-title h1 {
  margin: 0;  
  padding: 0.4em 15em;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 2px dashed #000000; 
  border-bottom: 2px dashed #000000; 
  text-shadow: 1.5px 1.5px 0px #000000;
  color: #4b6cc0;
  white-space: nowrap;  
  overflow: hidden;  
  width: auto; 
  max-width: 30%;  
}


.header-buttons {
  position: absolute; 
  top: 0; 
  right: 0; 
  display: flex; 
}

.icon-button {
  background: none;
  border: none;
  padding: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: -3px; 
}

.icon-button img {
  width: 70px;
  height: 65px;
  margin-top: 8px;
}


main {
  padding: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

main section {
  margin-bottom: 20px;
}

.column2 h2 {
  text-shadow: 1.5px 1.5px 0px #000000;
  color: #4b6cc0;
  font-size: 30px;
}

main p {
  margin-top: 10px;
}

footer {
  height: 40px;
  padding: 1em;
  padding-left: 150px;
  padding-right: 150px;
  margin: 1em; 
  background-color: #d7e9fd;
  border: 1.5px dotted #000000;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 0.5em; 
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; 
  text-align: center;
}

.three-columns {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 20px 0;
}


.column {
  background-color: #d7e9fd;
  border: 1px dashed #000000;
  padding: 20px;
}

.column2 {
  background-color: #d7e9fd;
  border: 1px dashed #000000;
  padding: 20px;
  width: 50%;
}

.column:nth-child(1) {
  flex: 1;
}

.column:nth-child(2) {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.column:nth-child(3) {
  flex: 1;
}

.row-container {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.row2 {
  background-color: #d7e9fd;
  padding: 10px;
  border: 2px solid #00d655;
  margin-top: 20px;
  height: 470px;
  text-align: center;
}

.row2 h2 {
  color: #000;
}

.nested-container {
  display: flex;
  gap: 10px; 
  height: 650px;
}

.nested-column-80 {
  flex: 7;
  background-color: #dbf5f9;
  padding: 10px;
  border: 1px dashed #000000;
  border-radius: 2%;
}

.nested-column-20 {
  flex: 3;
  background-color: #dbf5f9;
  padding: 10px;
  border: 1px dashed #000000;
  border-radius: 2%;
  text-align: center;
}

.container3 {
  text-align: center;
  background-color: #d7e9fd;
  padding: 10px;
  border: 2px solid #000000;
}

.container3 h2 {
  color: #000000;
}

.shirt-image {
  width: 100%; 
  height: auto; 
  display: block; 
  margin: 0 auto;
  align-items: center;
  margin-left: 10px; 
}